@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");

@font-face {
    font-family: "Onest";
    src: url(../fonts/Onest-VariableFont_wght.ttf);
}

* {
    margin: 0;
    font-family: "Onest";

}

/* Header */
header {
    background-color: #1C3433;
}

header ul li>a {
    border-radius: 5px;
}

/* Banner pagina */
.banner-pagina .conteudo-banner {
    max-width: 500px;
}

.banner-pagina {
    background-image: linear-gradient(to right, rgba(28, 52, 51, 0.9), rgba(28, 52, 51, 0.4)),
        url("../img/banner-pagina.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: 0.3s;
}

.banner-pagina a {
    border: #53CC6C solid 1px;
    border-radius: 5px;
    color: #53CC6C;
    padding: 10px;
    max-width: 300px;
    text-align: center;
}


.h1-span {
    color: #53CC6C;
}

/* Descricao Fred Junco */
.background-coluna {
    background-color: #2B2D3D;
}

.fundo-descricao .background-img-descricao {
    background-image:
        url("../img/img-fred-descricao-figure.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: 0.3s;
}

.conteudo-descricao {
    color: white;
    max-width: 550px;
}

.conteudo-descricao h2 {
    color: #53CC6C;
    font-size: 45px;
}


.conteudo-descricao a {
    color: #ffffff;
    border-radius: 7px;
    padding: 14px;
    font-size: 15px;
    text-align: center;
    background-color: #53CC6C;
    max-width: 300px;
}

.conteudo-descricao i {
    color: #53CC6C;
}


.conteudo-mentoria {
    max-width: 550px;
}

.mentoria .background-img-mentoria {
    background-image: url(../img/img-xeque-mate.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: 0.3s;
}

.mentoria h2 {
    color: #669997;
}

.mentoria a {
    border: #669997 1px solid;
    padding: 13px;
    color: #669997;
    text-align: center;
    border-radius: 7px;
    max-width: 300px;
}

.mentoria i {
    color: #C4FFD0;
}

.conteudo-livro {
    max-width: 550px;
}

/* Livro Fred Junco */

.livro {
    background-color: #FFF8F4;
}

.livro h3 {
    color: #E9763D;
}

.livro a {
    color: #E9763D;
    border: #E9763D 1px solid;
    max-width: 300px;
    text-align: center;
    border-radius: 7px;
    padding: 10px;
}

@media (max-width: 768px) {
    .banner-pagina {
        background-position: right;
        transition: 0.3s;
    }

    .banner-pagina .conteudo-banner {
        display: flex;
        align-items: center;
        text-align: center;
        max-width: 500px;
    }

    .conteudo-descricao {

        max-width: 500px;
    }

    .conteudo-descricao p {
        max-width: 600px;
    }

}

.videos {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.videos .container-videos {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    max-width: 1300px;
    height: auto;
    padding: 2rem;
}

.videos .container-videos .titulo {
    display: flex;
    gap: 30px;
}

.videos .container-videos .titulo>h2 {
    min-width: 150px;
}


.videos .container-videos .titulo>p {
    width: 450px;
    color: #6B6A66;
}

.area-btn-acesso-blog a {
    color: #53CC6C;
    border: #53CC6C 1px solid;
    padding: 10px;
    max-width: 300px;
    text-align: center;
    border-radius: 7px;
    padding: 10px;
}

/* Blog */
.blog {
    background-color: #F5F2EC;
}

.blog figure {
    border-radius: 7px 7px 7px 7px;
    max-height: 700px;
}

.blog figure img {
    width: 100%;
    height: 280px;
    object-fit: cover;
    display: block;
    border-radius: 7px 7px 0px 0px;
}

.blog figure figcaption {
    padding: 20px;
    color: white;
    height: 140px;
    color: black;
}

.blog figure figcaption .conteudo-figcaption p {
    font-size: 18px;
    font-weight: bold;
}

.blog figure a {
    color: #53CC6C;

}

/* sessao card videos aqui-=-=-= */

.bg-img-figure-1 {
    background-image:
        linear-gradient(to top, rgba(0, 0, 0, 0.7), transparent),
        url(../img/img-fred-figure-terno-azul.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    width: 100%;
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: end;

    border-radius: 15px;
}

.bg-img-figure-2 {
    background-image:
        linear-gradient(to top, rgba(0, 0, 0, 0.7), transparent),
        url(../img/banner-pagina.jpg);
    background-size: cover;
    background-position: right;
    background-repeat: no-repeat;

    width: 100%;
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: end;

    border-radius: 15px;
}

.bg-img-figure-3 {
    background-image:
        linear-gradient(to top, rgba(0, 0, 0, 0.7), transparent),
        url(../img/img-fred-descricao-figure.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    width: 100%;
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: end;

    border-radius: 15px;
}

.bg-img-figure-4 {
    background-image:
        linear-gradient(to top, rgba(0, 0, 0, 0.7), transparent),
        url(../img/img-xeque-mmate-figure.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    width: 100%;
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: end;

    border-radius: 15px;
}


@media screen and (max-width: 767px) {
    .videos .container-videos .titulo>h2 {
        font-size: 1.2rem;
    }

    .videos .container-videos .titulo>p {
        font-size: 1rem;
        max-width: 700px;
    }

    .videos .container-videos .titulo {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
    }



}

/* Pagina Sobre */

.conteudo-img {
    background: url(../img/img-fred-com-mao-junta.jpg);
    width: 500px;
    height: 500px;
    border-radius: 12px;

    background-position: center;
    background-size: cover;
}

.sobre .conteudo-textos{
    max-width: 440px;
    background-color: tomato;
}

.sobre .background-imagem-sobre{
    background: url(../img/img-fred-com-mao-junta.jpg);
    background-size: cover;
    background-position: center;
    width: 800px;
    height: 800px;
    border-radius: 12px;
}

.sobre a{
    color: #53CC6C;
    border: #53CC6C 1px solid;
    padding: 10px;
    max-width: 350px;
    text-align: center;
    border-radius: 7px;
    padding: 10px;
}

.in-company h2,
.in-company i {
    color: #53CC6C;
}

.conteudo-descricao{
    background-color: #2B2D3D;
}

.in-company img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
}

section .conteudo {
  height: 700px; /* ou min-height: 600px; */
}